<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <search-sort-field  input-search-term="query"
                       on-search-term-change="onNewSearchTerm(newSearchTerm)"
                       input-sort-order="orderProp"
                       on-sort-order-change="onNewSortOrder(newSortOrder)">
      </search-sort-field>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <phone-list input-unordered-list="phones"
                  input-query="query"
                  input-sort-order="orderProp">
      </phone-list>

    </div>
  </div>
</div>
